* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	max-width: 1024px;
	font-size: 16px;
}

a {
	color: #359c9c;
	text-decoration: none;
}

aside,  section {
	display: inline-block;
	padding: 1em;
}

aside {
	width: 160px;
	vertical-align: top;
	background-color: #0061d6;
}

aside h1 {
	margin-bottom: 1em;
}

aside li a {
	padding: 0.25em;
	display: block;
	margin-bottom: 0.25em;
	color: #fff;
}

aside li a:hover, aside li a:focus {
	background: #0355b2;
}

section {
	width: calc(99% - 160px);
}

.post {
	margin-bottom: 1em;
}

.post h2 a {
	font-size: 2em;
	margin-bottom: 0.5em;
	display: block;
}
